.purple {
  /* TODO: Add some style definitions for the purple class in here... */
  color: purple;
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

#answer-display:hover {
  color: #fff;
}

span {
  text-decoration: none;
}


h1 {
  font-weight: bolder;
}

body {
  height: 90%;
}

.